@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

.sticky__header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99999;
  background: white;
  box-shadow: 3px 3px -8px 3px #ddd;
}

@media only screen and (max-width: 1024px) {
  .navigation {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: #00000084;
    display: none;
  }

  .menu {
    width: 12rem;
    height: 100%;
    top: 0;
    padding-top: 10%;
    right: 0;
    position: absolute;
    background: #fff5ff;
    z-index: 200;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    line-height: 25px;
  }
  .show__menu {
    display: block;
  }
}
